body {
    background-color: #dbf0ff!important;
}

.card {
    background-color: #2a4e68!important;
}

.jumbotron {
    background-color: #2a4e68!important;
    color: white!important;
}

.btn {
    background-color: #2a4e68!important;
    border-color: #2a4e68!important;
}

.accordion-button {
    background-color: #dbf0ff!important;
}

.accordion-body {
    background-color: #dbf0ff!important;
}
